<h1>Login page</h1>

<%= form_for(:session, url: login_path) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br />

  <%= f.label :password %>
  <%= f.password_field :password %><br />

  <%= f.submit "Login" %>
<% end %>
